.topo-image-wrapper .leaflet-container {
  background-color: #FFFFFF;
}

.topo-image-wrapper {
  height: 100vh;
  border: 1px solid #555;
}
#topoImage {
  height: 100%;
}

.controle-nav {
  font-size: 3em;
}